Package: firewall
Version: 2019-09-23-daed0cf9-1
Depends: libc, libubox20170601, libubus20170705, libuci20130104, libip4tc2, libip6tc2, libxtables12, kmod-ipt-core, kmod-ipt-conntrack, kmod-nf-conntrack6, kmod-ipt-nat
Source: /var/lib/jenkins/workspace/Router-V7.0-WR730/target/mt76x8/WR730/files/package/wthink/firewall
SourceName: firewall
License: ISC
Section: wthink
Maintainer: Jo-Philipp Wich <jo@mein.io>
Architecture: mipsel_24kc
Installed-Size: 40754
Description:  This package provides a config-compatible C implementation of the UCI firewall.
